<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336080602915-cdq37aamf0sr25kv4u862d5c9n8a1g11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336080602915-cdq37aamf0sr25kv4u862d5c9n8a1g11</string>
	<key>API_KEY</key>
	<string>AIzaSyBf6pbvpUXUfzqdLOI6AWeWaVshj5sBGIM</string>
	<key>GCM_SENDER_ID</key>
	<string>336080602915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ocrApp</string>
	<key>PROJECT_ID</key>
	<string>ocrapp-1e84f</string>
	<key>STORAGE_BUCKET</key>
	<string>ocrapp-1e84f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336080602915:ios:951dbe26d171117c6cee96</string>
</dict>
</plist>